.title-question {
    text-align: center;
    font-size: 20px;
    font-family: 'Montserrat' ,sans-serif;
}

.list-group-item {
    font-family: 'Montserrat' ,sans-serif;
}

.correct-answer {
    color: white;
    background-color: #00B176;
}

.trash-icon {
    color: #dc3545;
    font-size: 27px;
}