.counter {
    font-size: 5rem;
}

.list-group-item {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

.selected-question {
    background-color: #131d2d;
    color: white;
}

.btn-accept {
    width: 100%;
    font-size: 20px;
    height: 44px;
}