<ion-toolbar style="--min-height: 40px;">
    <ion-buttons slot="start">
        <ion-menu-button class="menu-button"></ion-menu-button>
    </ion-buttons>
</ion-toolbar>

<ion-menu contentId="main" type="overlay">
    <ion-header>
        <ion-toolbar style="--min-height: 40px;">
            <ion-title>¡Hola de nuevo!</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list>
            <ion-menu-toggle auto-hide="false">
                <ion-list class="white-color-list">
                    <ion-item routerLink="/dashboard/myQuestionnaires">Mis cuestionarios</ion-item>
                    <ion-item routerLink="/dashboard">Todos los cuestionarios</ion-item>
                    <ion-item (click)="logOut()">Cerrar sesión</ion-item>
                </ion-list>
            </ion-menu-toggle>
        </ion-list>
    </ion-content>
</ion-menu>

<ion-router-outlet id="main" class="base-container"></ion-router-outlet>