.menu-button {
    font-size: 35px;
    width: 48px;
    height: 19px;
    --border-radius: 0px;
    color: blanchedalmond;
  }

  .base-container {
      margin-top: 34px;
  }

  .menu {
      ion-list, ion-item {
          background: #515962;
      }

      ion-item {
        --background: #515962;
      }
      --background: #515962;
  }

.list-menu {
    background: #3f414e;
    padding: 0;
    ion-item {
        --background: #3f414e;
        color: blanchedalmond;
        --border-style: none !important;
        ion-icon {
            color: blanchedalmond;
        }
    }
}

.selected-page {
    --background: #3b3b47 !important;
}