.remove-filters {
    font-size: 17px !important;
    float: right;
    margin-top: 3px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background-color: white;
 }