<ion-searchbar placeholder=""></ion-searchbar>
<div >
    <ion-button class="button-filter">
        <ion-icon slot="start" src="../../../../assets/icon/order.svg"></ion-icon>
        Ordenar
    </ion-button>
    <ion-button class="button-filter">
        <ion-icon slot="start" name="funnel-outline"></ion-icon>
        Filtrar
    </ion-button>
</div>

<div *ngIf="menu.isMyQuestionnaires" class="add-button">
    <ion-icon name="add-outline"></ion-icon>
</div>

<ion-list style="overflow: scroll; padding-top: 0" class="mt-4">
    <ion-item *ngFor="let elemento of lista" class="item-list animated fadeInLeft background-white mb-4">
        <div style="display: flex;">
            <ion-icon name="megaphone" style="width: 100px;"></ion-icon>

            <div>
                <h5><strong>{{elemento.titulo}}</strong></h5>

                <ion-row>
                    <ion-col>
                        <strong>Nivel:</strong>
                    </ion-col>
                    <ion-col>
                        Intermedio
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <strong>Categoria:</strong>
                    </ion-col>
                    <ion-col>
                        Lenguaje programación
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <strong>Tiempo</strong>
                    </ion-col>
                    <ion-col>
                        10min
                    </ion-col>
                </ion-row>
            </div>
        </div>
    </ion-item>
</ion-list>