<ion-content [fullscreen]="true">
  <div class="contenedor">
    <div *ngIf="error" class="item-fade alert alert-danger" role="alert">
      <strong>No ha ingresado el PIN</strong>
    </div>

    <input [(ngModel)]="pin" type="text" class="mb-3 form-control input-enter" placeholder="PIN del juego">
    <ion-button (click)="enterGame()" class="btn-main btn-enter">Ingresar</ion-button>
  </div>

  <div class="fixed-bottom">
    <p class="text text-center">
      Crea tu propio cuestionario GRATIS
      <a class="link" routerLink="/user">aquí</a>
    </p>
  </div>
</ion-content>