.input-enter {
    font-family: 'Open Sans', sans-serif;
    width: 195px;
    text-align: center;
    height: 3.125rem;
    font-size: 1.25rem;
  }
  
  .btn-enter {
    width: 195px;
  }
  
  .link {
    text-decoration: none;
    font-weight: bold;
    color: var(--ion-color-light);
  }
  
  .text{
    color: var(--ion-color-light);
  }