<ion-content [fullscreen]="true">
  <div class="contenedor">
    <div *ngIf="error" class="item-fade alert alert-danger" role="alert">
      <strong>No ha ingresado el PIN</strong>
    </div>

    <input [(ngModel)]="pin" #numberPin type="text" class="mb-3 form-control input-enter" id="numberPin" placeholder="PIN de la sala">
    <ion-button (click)="enterGame()" class="btn-main btn-enter" id="enterGame">Ingresar</ion-button>
  </div>

  <div class="fixed-bottom">
    <p class="text text-center">
      Crea tu propio cuestionario GRATIS
      <a class="link" id="goLogin" routerLink="/user">aquí</a>
    </p>
  </div>
</ion-content>