<div class="contenedor">
  <div *ngIf="loading" class="spinner-backdrop">
    <app-spinner></app-spinner>
  </div>
  <div *ngIf="loading" class="backdrop"></div>
  <div class="card w-90">
    <div class="card-body">
      <h2 class="text-center title">Login</h2>
      <form [formGroup]="formGroup" (ngSubmit)="login()">
        <div class="mb-3">
          <input id="email" type="text" formControlName="user" class="form-control" placeholder="Email">
          <span id="spanIdEmail" #errorEmailRequired
            [hidden]="!formGroup.get('user')?.touched || formGroup.get('user')?.touched && !formGroup.get('user').hasError('required')"
            class="text-danger">
            <strong id="errorEmailRequired">{{errorFormText.ERROR_REQUIRED}}</strong>
          </span>
          <span
            [hidden]="!formGroup.get('user')?.touched || formGroup.get('user')?.touched && !formGroup.get('user').hasError('email')"
            class="text-danger">
            <strong id="errorEmail">{{errorFormText.ERROR_EMAIL}}</strong>
          </span>
        </div>
        <div class="mb-3">
          <input id="password" type="password" formControlName="password" class="form-control" placeholder="Contraseña">
          <span
            [hidden]="!formGroup.get('password')?.touched || formGroup.get('password')?.touched && !formGroup.get('password').hasError('required')"
            class="text-danger">
            <strong id="errorPasswordRequired">{{errorFormText.ERROR_REQUIRED}}</strong>
          </span>
        </div>
        <div class="text-center mb-5">
          <a id="goRegister" routerLink="/register">Registrarse</a><br>
          <a id="goRecoverPassword" routerLink="/recoverPass">Recuperar contraseña</a>
        </div>
        <button id="submitButton" type="submit" [disabled]="formGroup.invalid"
          class="btn-primary btn-lg float-end w-100">Iniciar sesión</button>
      </form>
    </div>
  </div>
</div>