.input-search {
    --background: #e2e2e2;
    border-radius: 10px;
}

.button {
    border-radius: 7px;
    padding: 8px;
    width: 90%;
    font-weight: bold;
}

.container {
    background: white;
    height: 100%;
}

.icon-result {
    font-size: 27px;
}

.icon-result-red {
    color: #EF3340;
}

.icon-result-green {
    color: #00AB84;
}