<div class="contenedor">
  <div class="card w-90">
    <div class="card-body">
      <h2 class="text-center title">Registrarse</h2>
      <form [formGroup]="formGroup" (ngSubmit)="register()">
        <div class="mb-3">
          <input [(ngModel)]="user" type="text" formControlName="user" class="form-control" placeholder="Email">
          <span *ngIf="formGroup.get('user')?.touched && formGroup.get('user').hasError('required')"
            class="text-danger">
            <strong>{{errorFormText.ERROR_REQUIRED}}</strong>
          </span>
          <span *ngIf="formGroup.get('user')?.touched && formGroup.get('user').hasError('email')" class="text-danger">
            <strong>{{errorFormText.ERROR_EMAIL}}</strong>
          </span>
        </div>
        <div class="mb-3">
          <input [(ngModel)]="pass" type="password" formControlName="password" class="form-control" placeholder="Contraseña">
          <span *ngIf="formGroup.get('password')?.touched && formGroup.get('password').hasError('required')"
            class="text-danger">
            <strong>{{errorFormText.ERROR_REQUIRED}}</strong>
          </span>
          <span
            *ngIf="formGroup.get('password')?.touched && formGroup.get('password').hasError('minlength')"
            class="text-danger">
            <strong>{{errorFormText.ERROR_MIN_LENGTH}}</strong>
          </span>
        </div>
        <div class="mb-3">
          <input type="password" formControlName="passwordRepeat" class="form-control" placeholder="Repetir Contraseña">
          <span *ngIf="formGroup.hasError('notSame')"
            class="text-danger">
            <strong>{{errorFormText.ERROR_NOT_SAME}}</strong>
          </span>
          <span *ngIf="formGroup.get('passwordRepeat')?.touched && formGroup.get('passwordRepeat').hasError('required')"
          class="text-danger">
          <strong>{{errorFormText.ERROR_REQUIRED}}</strong>
        </span>
        </div>
        <button class="btn-secondary btn-lg" routerLink="/user">Volver</button>
        <button type="submit" [disabled]="formGroup.invalid" class="btn-primary btn-lg float-end">Aceptar</button>
      </form>
    </div>
  </div>
</div>