<div class="contenedor">
  <div *ngIf="loading" class="spinner-backdrop">
    <app-spinner></app-spinner>
  </div>
  <div *ngIf="loading" class="backdrop"></div>
  <div class="card w-90">
    <div class="card-body">
      <h2 class="text-center title">Registrarse</h2>
      <form [formGroup]="formGroup">
        <div class="mb-3">
          <input id="emailInput" [(ngModel)]="email" type="text" formControlName="email" class="form-control"
            placeholder="Email">
          <span
            [hidden]="!formGroup.get('email')?.touched || formGroup.get('email')?.touched && !formGroup.get('email').hasError('required')"
            class="text-danger">
            <strong id="errorEmailRequired">{{errorFormText.ERROR_REQUIRED}}</strong>
          </span>
          <span
            [hidden]="!formGroup.get('email')?.touched || formGroup.get('email')?.touched && !formGroup.get('email').hasError('email')"
            class="text-danger">
            <strong id="errorEmail">{{errorFormText.ERROR_EMAIL}}</strong>
          </span>
        </div>
        <div class="mb-3">
          <input id="user" [(ngModel)]="user" type="text" formControlName="user" class="form-control"
            placeholder="Usuario">
          <span
            [hidden]="!formGroup.get('user')?.touched || formGroup.get('user')?.touched && !formGroup.get('user').hasError('required')"
            class="text-danger">
            <strong id="errorUsernameRequired">{{errorFormText.ERROR_REQUIRED}}</strong>
          </span>
          <span
            [hidden]="!formGroup.get('user')?.touched || formGroup.get('user')?.touched && !formGroup.get('user').hasError('minlength')"
            class="text-danger">
            <strong id="errorUserMinLength">{{errorFormText.ERROR_MIN_LENGTH}}</strong>
          </span>
          <span
            [hidden]="!showErrorUsername"
            class="text-danger">
            <strong id="errorUserMinLength">{{errorFormText.ERROR_USERNAME_REPEAT}}</strong>
          </span>
        </div>
        <div class="mb-3">
          <input id="passwordInput" [(ngModel)]="pass" type="password" formControlName="password" class="form-control"
            placeholder="Contraseña">
          <span
            [hidden]="!formGroup.get('password')?.touched || formGroup.get('password')?.touched && !formGroup.get('password').hasError('required')"
            class="text-danger">
            <strong id="errorPasswordRequired">{{errorFormText.ERROR_REQUIRED}}</strong>
          </span>
          <span
            [hidden]="!formGroup.get('password')?.touched || formGroup.get('password')?.touched && !formGroup.get('password').hasError('minlength')"
            class="text-danger">
            <strong id="errorPasswordMinLength">{{errorFormText.ERROR_MIN_LENGTH}}</strong>
          </span>
        </div>
        <div class="mb-3">
          <input id="passwordRepeatInput" type="password" formControlName="passwordRepeat" class="form-control"
            placeholder="Repetir Contraseña">
          <span [hidden]="!formGroup.get('passwordRepeat')?.touched || !formGroup.hasError('notSame')" class="text-danger">
            <strong id="passwordRepeatErrorNotSame">{{errorFormText.ERROR_NOT_SAME}}</strong>
          </span>
          <span
            [hidden]="!formGroup.get('passwordRepeat')?.touched || formGroup.get('passwordRepeat')?.touched && !formGroup.get('passwordRepeat').hasError('required')"
            class="text-danger">
            <strong id="passwordRepeatErrorRequired">{{errorFormText.ERROR_REQUIRED}}</strong>
          </span>
        </div>
        <button id="goLogin" class="btn-secondary btn-lg" routerLink="/">Volver</button>
        <button id="submitButton" (click)="checkUser()" [disabled]="formGroup.invalid"
          class="btn-primary btn-lg float-end">Aceptar</button>
      </form>
    </div>
  </div>
</div>