<div class="contenedor">
  <div *ngIf="loading" class="spinner-backdrop">
    <app-spinner></app-spinner>
  </div>
  <div *ngIf="loading" class="backdrop"></div>
  <div class="card w-90">
    <div class="card-body">
      <h3 class="text-center title">Recuperar contraseña</h3>
      <form [formGroup]="formGroup" (ngSubmit)="recoverPass()">
        <div class="mb-3">
          <input id="emailInput" formControlName="email" type="text" placeholder="Ingresar email"
            class="form-control form-control-lg">
          <span
            [hidden]="!formGroup.get('email')?.touched || formGroup.get('email')?.touched && !formGroup.get('email').hasError('required')"
            class="text-danger">
            <strong id="errorEmailRequired">{{errorFormText.ERROR_REQUIRED}}</strong>
          </span>
          <span
            [hidden]="!formGroup.get('email')?.touched || formGroup.get('email')?.touched && !formGroup.get('email').hasError('email')"
            class="text-danger">
            <strong id="errorEmail">{{errorFormText.ERROR_EMAIL}}</strong>
          </span>
        </div>
        <button class="btn-secondary btn-lg" routerLink="/user">Volver</button>
        <button type="submit" [disabled]="formGroup.invalid" class="btn-primary btn-lg float-end">Aceptar</button>
      </form>
    </div>
  </div>
</div>